body {
    max-width: 800px;
    margin:0 auto;
}

header{
background-color: blue;
color:aliceblue
text-align: center;
}


main{
    background-color:aqua;
    color:azure;
max-width: 800px;
margin: 0 auto;
padding:16px; 
display: flex;
}
img{
    width: 80px;
    heigh: 80;
}
.artigo-autor {
    font-weight: bold;
font-weight: bold;
}


